@model  AvailableToysInCategoryParams

@{
    ViewData["Title"] = "Find available toys";
}

<h2>Find available Toy</h2>

<form asp-action="AvailableToyQuery">
    <div class="form-horizontal">
        <h4>Available toy find form</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ToyName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ToyName" class="form-control" />
                <span asp-validation-for="ToyName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CategoryId,
                                     new SelectList(ViewBag.Categories, "ID", "Name"))
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default btn-info" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
