@model  ToyQueryParams

@{
    ViewData["Title"] = "Find Toy";
}

<h2>Find Toy</h2>

<form asp-action="ToyQuery">
    <div class="form-horizontal">
        <h4>Toy find form</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ToyName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ToyName" class="form-control" />
                <span asp-validation-for="ToyName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaxPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaxPrice" class="form-control" />
                <span asp-validation-for="MaxPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
